html{

}
body {
    margin: 0;
}
#battle{
    min-height: 70vh;
    
    width: 100%;
    background-image: url(../assets/img/FondoRPG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#menu{
    background-color: black;
    height: 30vh;
    width:100% ;
    bottom: 0;
    
    /* border: 1px solid white ; */
}